{% extends "base.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="affichage s12 m12 l12">
                <h3>Liste des écoles !</h3>
                {% for ecole in ecoles %}
                <ul class="liste">
                    <li>Nom : {{ ecole.nom }}</li>
                    <a href="/admin/affichageEcole/{{ ecole.id }}">Plus d'info sur l'école</a>    
                </ul>
                {% endfor %}
                <p class="retour"><a href="{{ path('user') }}">Retour à la page USER</a></p>
            </div>
        </div>
    </div>

{% endblock %}