{% extends "base.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="affichage s12 m12 l12">
                <h3>Liste des professeurs !</h3>
                {% for professeur in professeurs %}
                <ul class="liste">
                    <li>Nom : {{ professeur.nom }}</li>
                    <a href="/user/affichageProfesseur/{{ professeur.id }}">Plus d'info sur le professeur</a>
                </ul>
                {% endfor %}
                <p class="retour"><a href="{{ path('user') }}">Retour à la page USER</a></p>
            </div>
        </div>
    </div>

{% endblock %}